.nav-menu {
  border-radius: 25px;
  background-color: rgb(32 32 32);
  padding: 0 20px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  box-shadow: rgb(20 20 20) 0px 0px 8px 5px,
    rgb(40, 40, 40) 0px 0px 20px 5px inset;
  .left-menu {
    display: flex;
    align-items: center;
    .logo-home-btn {
      margin-right: 10px;
    }
    img {
      width: 170px;
      &:hover {
        filter: drop-shadow(0 0 10px #9c9c9c);
      }
    }
    .left-menu-btn {
      margin-left: 25px;
      border-bottom: 2px solid transparent;
      padding: 10px 5px;
      color: #ffffff;
      font-size: 17px;
      &:hover {
        border-bottom-color: aqua;
      }
    }
    img {
      width: 200px;
    }
  }
}
.right-menu {
  display: flex;
  align-items: center;
  a {
    width: 60px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    margin-left: 20px;
    .menu-icon {
      display: flex;
      justify-content: center;
      img {
        width: 20px;
        object-fit: cover;
      }
    }
  }
}
.right-menu-btn {
  color: #eeeeee;
  font-size: 15px;
}
.text-right-btn {
  margin-top: 5px;
}
.activeLink-left {
  margin-left: 25px;
  border-bottom: 2px solid aqua;
  padding: 10px 5px;
  color: #ffffff;
  font-size: 17px;
}
.activeLink-right {
  color: aqua;
  font-size: 15px;
}
