.catalog-content {
  display: flex;
  background-color: rgb(32 32 32);
  border-radius: 15px 15px 15px 15px;
  height: 100%;
  padding: 20px;
  flex: 1;
  box-shadow: 0 0 10px 10px #161616, 0 0 12px 3px #1d1d1d inset;
}
.catalog-left-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;

  .search-container {
    height: 50px;
    margin-bottom: 5px;
    background-color: rgb(35, 35, 35);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 4px 4px rgb(29 29 29);
  }
  .filter-container {
    height: 600px;
    margin-top: 5px;
    background-color: rgb(35, 35, 35);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 4px 4px rgb(29 29 29);
  }
}

.catalog-right-side {
  flex: 3;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.sorting-container {
  margin-bottom: 5px;
  height: 50px;
  background-color: rgb(35, 35, 35);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 4px 4px rgb(29 29 29);
}
.product-list {
  margin-top: 5px;
  height: 800px;
  background-color: rgb(35, 35, 35);
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 4px 4px rgb(29 29 29);
}
