.catalog-content {
  display: flex;
  background-color: rgb(32 32 32);
  border-radius: 15px 15px 15px 15px;
  height: 100%;
  padding: 20px;
  flex: 1;
  box-shadow: 0 0 10px 10px #161616, 0 0 12px 3px #1d1d1d inset;
}
