.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content label {
  display: block;
  margin: 5px 0;
}

.dropdown-toggle {
  background-color: #f9f9f9;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}
