footer {
  margin-top: 20px;
  height: 100px;
  .footer-container {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    border-radius: 25px 25px 0 0;
    background-color: rgb(32 32 32);
    box-shadow: rgb(21 21 21) 0px 0px 4px 7px,
      rgb(26 26 26) 0px 0px 0px 1px inset;
  }
}
