footer {
  margin-top: 20px;
  height: 100px;
  .footer-container {
    height: 100%;
    width: 1200px;
    margin: 0 auto;
    border-radius: 25px 25px 0 0;
    background-color: rgb(27, 27, 27);
    box-shadow: 0 0 10px 10px #161616, 0 0 12px 3px #1d1d1d inset;
  }
}
